:root {
  --sub-color: grey;
  --main-color: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px;

  @media only screen and (max-width: 800px){
    padding: 0 0.5rem;
  }
}

code {
  font-family: "Andale Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

a {
  text-decoration: none;
  color: black;
}
